.DS_Store
.idea
*.vcd
*.sym
*.out
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
verilator/obj_dir/
verilator/a2600
fpga/*.asc
fpga/*.bin
fpga/*.json
fpga/*.rpt